html{
	scroll-behavior: smooth;
}
body{
background-color: black;

}
body, html {
	margin: 0;
	padding: 0;
}

.section {
	min-height: 800px;
	position: relative;
	text-align: center;
	font-family: sans-serif, arial;
	margin: 0;
}


 
.text-wr {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}



#section1 {
	background: #0A182E;
	color: #81d2d5;
}

#section2 {
	background: #0A182E;
	color: #81d2d5;
}

#section3 {
	background: #0A182E;
	color: #81d2d5;
}

#section4 {
	background: #0A182E;
	color: #81d2d5;
}



.title-top {
	font-size: 60px;
	padding-bottom: 30px;
}

.title-bottom {
	font-size: 30px;
}

.title-tx {
	font-size: 20px;
	opacity: 0.8;
}


.nav {
	padding-top: 0;
	padding: 20px;
	position: fixed; 
	width: 100%;
	z-index: 9;
	padding-left: 10px;
	background: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(8px);
}

.nav a {
	padding: 20px 20px;
	margin-right: 10px;
	text-decoration: none;
	color: #64ffda;
	font-family: sans-serif, arial;
	font-weight: 100;
}

.nav a.active {
	background: rgba(0, 0, 0, 0.5);
	color: white;
}

.nav a:hover {
	background: rgba(0, 0, 0, 0.3);
}
.overmij{
display: grid;
grid-template-columns: 3fr 2fr;
gap: 50px;
}

.text-wr > h2{
	padding-bottom: 50px;
}
.code-talen ul{
	list-style-type: none;
	font-size: 20px;
	opacity: 0.8;
}
.small-tx{
	font-size: 14px;
}

.examples{
	display: flex;
	text-align: center;
	overflow: scroll;
	overflow-y: hidden;
	font-size: 20px;
	opacity: 0.8;
	
}
.example-0{
	flex: 1;
	padding: 1rem;
	
}
.example-1{
	flex: 1;
	padding: 1rem;
}
.example-2{
	flex: 1;
	padding: 1rem;
}
.example-3{
	flex: 1;
	padding: 1rem;
}
.example-4{
	flex: 1;
	padding: 1rem;
}
.title-projecten{
	margin: 0;
	padding-top: 150px;
	font-size: 60px;
	padding-bottom: 30px;
}
::-webkit-scrollbar {
	width: 10px;
  }
  
  ::-webkit-scrollbar-track {
	background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
	background: #888; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }

.links{
	font-size: 25px;
	text-decoration: none;
	
}
.links:hover{
	color: red;
}
.links:active{
	color: greenyellow;
}