

body, html {
	margin: 0;
	padding: 0;
}

.section {
	min-height: 800px;
	position: relative;
	text-align: center;
	font-family: sans-serif, arial;
	margin: 0;
}


 
.text-wr {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#section1 {
	background: #0A182E;
	color: #81d2d5;
}

#section2 {
	background: #0A182E;
	color: #81d2d5;
}

#section3 {
	background: #283044;
	color: #686e7c;
}

#section4 {
	background: #ebf5ee;
	color: #aeb9b9;
}



.title-top {
	font-size: 60px;
	padding-bottom: 30px;
}

.title-bottom {
	font-size: 30px;
}

.title-tx {
	font-size: 20px;
	opacity: 0.8;
}


.nav {
	padding-top: 0;
	padding: 20px;
	position: fixed; 
	width: 100%;
	top: 20px;
	z-index: 9;
	padding-left: 10px;
	background: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(8px);
}

.nav a {
	padding: 20px 20px;
	margin-right: 10px;
	text-decoration: none;
	color: #64ffda;
	font-family: sans-serif, arial;
	font-weight: 100;
}

.nav a.active {
	background: rgba(0, 0, 0, 0.5);
	color: white;
}

.nav a:hover {
	background: rgba(0, 0, 0, 0.3);
}
.overmij{
display: grid;
grid-template-columns: 3fr 2fr;
gap: 50px;
}

.text-wr > h2{
	padding-bottom: 50px;
}
.code-talen ul{
	list-style-type: none;
}
.small-tx{
	font-size: 14px;
}

